- content_for :login_content do
  = render 'flashes'
  #clearance.sign-up
    = form_for @user, url: invitation_sign_up_path(invitation) do |form|
      = render 'users/form', form: form
      .form-group
        = form.submit class: 'btn btn-primary'
= render 'shared/login'
