= form_for :session, url: session_path do |form|
  .form-group
    = form.label :email
    = form.text_field :email, placeholder: 'ex. therealmrt@sparta.org', class: 'form-control'
  .form-group
    = form.label :password
    = form.password_field :password, placeholder: 'password', class: 'form-control'
  .form-group
    = form.submit class: 'btn btn-primary'
.other-links
  = link_to t('.sign_up'), sign_up_path
  = link_to t('.forgot_password'), new_password_path
