= "#{Teacher.human_attribute_name(:first_name)}: #{teacher.first_name}"
= "#{Teacher.human_attribute_name(:last_name)}: #{teacher.last_name}"
= "#{Teacher.human_attribute_name(:email)}: #{teacher.email}"
= "#{Teacher.human_attribute_name(:username)}: #{teacher.username}"
