%li
  = "course: #{assignment.course.name}"
  = "name: #{assignment.name}"
  = "description: #{assignment.description}"
  = "date assigned: #{l(assignment.assigned_on, format: :long)}"
  = "date due: #{l(assignment.due_on, format: :long)}"
  = "points possible: #{assignment.points_possible}"
