= form_for [:teacher, @assignment] do |form|
  = form.collection_select :course_id, Course.all, :id, :name
  = form.text_field :name
  = form.text_area :description, cols: "30", rows: "10"
  = label_tag :assignment_assigned_on, 'Assigned on'
  = form.date_select :assigned_on
  = form.date_select :due_on
  = form.text_field  :points_possible
  = form.submit
