#clearance.password-reset
  %h2= t'.title'
  %p= t'.description'
  = form_for :password, url: passwords_path do |f|
    .text-field
      = f.label :email
      = f.text_field :email, type: 'email'
    .submit-field
      = f.submit
