%h1.page-header= t('.teacher_greeting', teacher: teacher.full_name)
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= t('.period')
        %th= t('.course')
    %tbody
      - courses.each do |course|
        %tr
          %td.period= "#{course.period}"
          %td.course= link_to "#{course.name}", teachers_course_path(course)
