.seating-chart.col-sm-6.col-md-7
  %h1 Submit a behavior
  %form.form(ng-controller="StudentActionCtrl")
    .alert.alert-info(ng-if="alert") {{ alert }}
    .form-group
      %label(for="name")= t('.student_action')
      %input.form-control#student_action_name(ng-model="studentAction.name" required)
    %ul.classroom
      - classroom.students.each do |student|
        %li(ng-click="studentAction.toggleStudent(#{student.id})")
          .student(ng-class="{ active: studentAction.hasStudent(#{student.id}) }")
            .student-initials= t('.student_initials', initials: student.initials)
    .form-group
      %button.btn.btn-primary( ng-disabled="!studentAction.isValid()"
      ng-click="saveStudentAction(studentAction)")
        = t('.record_action')
