- content_for :links do
  %li= link_to t('.courses'), admin_courses_path
  %li= link_to t('.guardians'), admin_guardians_path
  %li= link_to t('.students'), admin_students_path
  %li= link_to t('.teachers'), admin_teachers_path
  %li= link_to t('.new_course'), new_admin_course_path
  %li= link_to t('.new_student'), new_admin_student_path
  %li= link_to t('.invite_guardian'), new_invitation_path
= render template: 'layouts/role'
